.Button{
    width: 15%;
    height: 70%;
    border-radius: 4px;
    border: none;
    background-color: #4682B4;
    margin: 0 2%;
    color: white;
}
.Button:hover{
    transform: scale(1.05);
}
.Danger{
    background-color: red;
}