.ProjectElement{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid 	#4682B4;
    border-radius: 5px;

    margin-top: 4px;
    padding: 0 3%;

    width: 94%;
    height: 35px;
    line-height: 35px;

    color: black;
}
.ProjectElement p{
    width: 82%;
    text-align: start;
    overflow: hidden;
}
.ProjectElement div{
    display: flex;
    width: 25%;
    height: 25px;
}