.ProjectForm{
    display: flex;
    width: 100%;   
    margin-bottom: 10px;
}
.ProjectForm div{
    display: flex;
    width: 30%;   
}
.ProjectForm input{
    width: 70%;
    background-color: white;
}
.ProjectForm button{
    height: 30px;
}