.TaskElement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 250px;
    line-height: 35px;
    margin-top: 4px;
    border: 4px solid 	#4682B4;
    border-radius: 10px;
    color: black;
    padding: 5px;
    box-sizing: border-box;
}
.TaskElement div{
    width: 70%;
    height: 25px;
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
}
.TaskElement div.Title{
    display: flex;
    justify-content: center;
    width: 100%;
}
.TaskElement div.Status{
    cursor: pointer;
}
.Title p{
    display: flex;
    justify-content: center;
}
.TaskElement div p{
    display: block;
    padding: 0 5px;
}
.Checkbox{
    width: 20px;
    height: 20px;
    margin: 0 15px;
}

.TaskElement p{
    width: 50%;
    text-align: start;
    overflow: hidden;
}

.Done{
    background-color: 		#4F4F4F	;
    border: 4px solid #A9A9A9 ;
}
.Done div.Title p{
    text-decoration: line-through;
}