#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    height: 100vh;
}
h1{
    font-family: Ubuntu, sans-serif;
    margin: 15px 0;
    text-align: center;
    font-size: 35px;
    font-weight: bold; 
    color: #4682B4;
    border-bottom: 3px solid #4682B4;
    width: 500px;
}

h2{
    font-family: Ubuntu, sans-serif;
    margin: 15px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold; 
    color: #4682B4;
}

input{
    background-color: #B0C4DE;
    color: black;
    padding-left: 5px;
    border: 2px solid #4682B4;
    border-radius: 5px;
    height: 25px;
}
.hide{
    display: none;
}
p{
    font-family: Ubuntu, sans-serif;
}


@media screen and (max-width: 700px) {
    h1{
        width: 90%;
    }
}