/* Global rules */
#root{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:#B0C4DE;

    height: 100vh;
}
h1{
    font-family: Ubuntu, sans-serif;
    margin: 15px 0;
    text-align: center;

    font-size: 35px;
    font-weight: bold; 
    color: white;

    border-bottom: 3px solid #4682B4;
    width: 500px;
}

h2{
    font-family: Ubuntu, sans-serif;

    margin: 15px 0;
    text-align: center;

    font-size: 30px;
    font-weight: bold; 
    color: white;
}
button{
    border-radius: 4px;
    border: none;
}
button:hover{
    transform: scale(1.05);
}
input{
    background-color: #B0C4DE;
    color: white;

    padding-left: 5px;

    border: 2px solid #4682B4;

    height: 25px;
}
.hide{
    display: none;
}
p{
    font-family: Ubuntu, sans-serif;
}

form{
    display: flex;
    justify-content: space-between;
    
    width: 100%;   
    margin-bottom: 10px;
}
form button{
    color: white;
    background-color: #4682B4;

    width: 30%;
}
form input{
    width: 65%;
}
/* Especific project rules*/
.projects{
    width: 500px;
}
.project-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid 	#4682B4;

    margin-top: 4px;
    padding: 0 3%;

    width: 94%;
    height: 35px;
    line-height: 35px;

    color: white;
}
.project-item p{
    width: 82%;
    text-align: start;
    overflow: hidden;
}
.project-item button{
    height: 25px;
    width: 15%;

    background-color: red;
    color: white;
}
/* Especific task rules*/
.tasks{
    width: 500px;
}
.tasks header{
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 85% 15%;
    align-items: center;
}
.tasks h2{
    width: 100%;
    text-align: start;
    margin: 5px 0;
    
}


.tasks header button{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    justify-self: end;

    display: block;

    width: 35px;
    height: 35px;

    background-image: url("back.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #B0C4DE;
    
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 35px;
    line-height: 35px;

    margin-top: 4px;

    border: 2px solid 	#4682B4;

    color: white;
}
.task-item input{
    width: 10%;
    height: 20px;
}
.task-item p{
    width: 60%;

    text-align: start;

    overflow: hidden;
}
.task-item button{
    height: 25px;
    width: 15%;

    margin-right: 3%;

    background-color: red;
    color: white;
}

/* Media Queries */
@media screen and (max-width: 700px) {
    h1{
        width: 90%;
    }
    .projects{
        width: 90%;
    }
    .tasks{
        width: 90%;
    }
}