.TaskDetails{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.TaskDetails label{
    margin-top: 10px;
}
.TaskDetails input{
    width: 97%;
    color: black;
}
.TaskDetails select{
    width: 100%;
    background-color: #B0C4DE;

    border: 2px solid 	#4682B4;
    border-radius: 5px;

    height: 30px;

    color: black;

}
.TaskDetails form{
    margin-top: 15px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}